.output-box{
    width: calc(90% - 10px);
    height: 300px;
    margin: 10px auto;
    border: 1px solid white;
    overflow-y: scroll;
    padding: 0px 5px;   
}

body{
    background-color: #303030;
    color: white;
}
.censor{
    width: 90%;
    text-align: right;
}
.input-box{
    width: 60%;
    margin: 10px auto;
    height: 80px;
}

.chat-input{
    margin: auto;
    text-align: center;
}

.username{
    font-weight: bold;
}